<div class="card col mx-1 mb-2 mt-5 shadow rounded">
  <div class="row">
    <% if @product.image.attached? %>
      <%= image_tag @product.image, alt: @product.name, class: 'card-img-topic col-3' %>
    <% else %>
      <img src="https://image.shutterstock.com/image-photo/generic-tin-can-copy-space-600w-137026637.jpg" class="card-img-topic col-3">
    <% end %>

    <div class="card-body col-9">
      <div class="row pe-3">
        <h1 class="card-title col"><%= @product.name %></h1> 
        <div class="col-2 text-end">
          <h2>$ <%= @product.price %></h2>
        </div>
      </div>
      <p class="card-text" style="min-height: 250px">
      <%= @product.description %></p>
    </div>
  </div>
</div>

<%= render 'shared/alert' %>

<%= render 'questions/form', question: @question, product_id: @product.id %>

<% if user_signed_in? %>
  <% if current_user.favourite?(@product.id)%>
    <%= form_with(model: current_user.favourites.find_by(product_id: @product.id), html: { method: :delete }, local: true) do |f| %>
      <%= f.submit "Remove Fav", class: "btn" %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.favourites.build, local: true) do |f| %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= f.submit "Add to Fav", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>
<%= link_to 'Back', products_path, class: 'btn btn-primary' %>
