<div class="card col mx-1 mb-2 mt-5 shadow rounded">
  <div class="row">
    <% if @product.image.attached? %>
      <%= image_tag @product.image, alt: @product.name, class: 'card-img-topic col-3' %>
    <% else %>
      <img src="https://image.shutterstock.com/image-photo/generic-tin-can-copy-space-600w-137026637.jpg" class="card-img-topic col-3">
    <% end %>

    <div class="card-body col-9">
      <div class="row pe-3">
        <h1 class="card-title col"><%= @product.name %></h1> 
        <div class="col-4 text-end">
          <h2 style="display: inline;" class="pt-2">$ <%= @product.price %></h2>
          <%= render 'favourite' %>
        </div>
      </div>
      <p class="card-text" style="min-height: 250px">
      <%= @product.description %></p>
    </div>
  </div>
</div>

<%= render 'shared/alert' %>

<%= render 'questions/form', question: @question, product_id: @product.id %>

<%= render 'products/question', questions: @product.questions %>

<%= link_to 'Back', products_path, class: 'btn btn-primary mt-4' %>
